#completo{ background-color: rgb(179, 127, 228);}

#encabezado{background-color: rgb(104, 233, 233);color: rgb(16, 97, 70); text-align: center; font-family: sans-serif;}

#descripcion    {background-color: aquamarine;}
